
a(id="menu", href="/usermanual/" + metadata.version + "/") Main Table of Contents
div.menu-container
  div.column-1
    ul
      li.dad
        a(href="introduction") Introduction
      li.son
        a(href="overview") Overview
      li.dad
        a(href="core_layer_a_javascript_framework") Core Layer - A Javascript Framework
      li.son
        a(href="the_aria_singleton") The Aria Singleton
      li.son
        a(href="javascript_classes") Javascript Classes
      li.son
        a(href="around_classes") Around Classes
      li.son
        a(href="working_in_an_asynchronous_world") Working in an Asynchronous World
      li.son
        a(href="helpers") Helpers
      li.son
        a(href="json_bean_definitions") JSON Bean Definitions
      li.son
        a(href="interceptors") Interceptors
      li.son
        a(href="filters") Filters
      li.dad
        a(href="templating_layer_a_template_engine") Templating Layer - A Template Engine
      li.son
        a(href="what_are_templates") What are Templates?
      li.son
        a(href="writing_templates") Writing Templates
      li.son
        a(href="data_model_and_data_binding") Data Model and Data Binding
      li.son
        a(href="template_scripts") Template Scripts
      li.son
        a(href="refresh") Refresh
      li.son
        a(href="widgets_overview") Widgets Overview
      li.son
        a(href="css_templates") CSS Templates
  div.column-1
    ul
      li.son
        a(href="template_inheritance") Template Inheritance
      li.son
        a(href="views") Views
      li.son
        a(href="macro_libraries") Macro Libraries
      li.son
        a(href="adaptive_display") Adaptive Display
      li.son
        a(href="interactions_with_the_dom") Interactions with the DOM
      li.son
        a(href="dom_events") DOM Events
      li.son
        a(href="keyboard_navigation") Keyboard Navigation
      li.son
        a(href="localization_and_resources") Localization and Resources
      li.dad
        a(href="widgets") Widgets
      li.dad
        a(href="the_aria_templates_widgets_collection") The Aria Templates Widgets Collection
      li.son
        a(href="autocomplete") AutoComplete
      li.son
        a(href="button") Button
      li.son
        a(href="calendar") Calendar
      li.son
        a(href="checkbox") CheckBox
      li.son
        a(href="datefield") DateField
      li.son
        a(href="datepicker") DatePicker
      li.son
        a(href="dialog") Dialog
      li.son
        a(href="div") Div
      li.son
        a(href="errorlist") ErrorList
  div.column-2
    ul
      li.son
        a(href="fieldset") Fieldset
      li.son
        a(href="gauge") Gauge
      li.son
        a(href="icon") Icon
      li.son
        a(href="iconbutton") IconButton
      li.son
        a(href="link") Link
      li.son
        a(href="list") List
      li.son
        a(href="multiselect") MultiSelect
      li.son
        a(href="numberfield") NumberField
      li.son
        a(href="passwordfield") PasswordField
      li.son
        a(href="radiobutton") RadioButton
      li.son
        a(href="select") Select
      li.son
        a(href="selectbox") SelectBox
      li.son
        a(href="sortindicator") SortIndicator
      li.son
        a(href="tab") Tab
      li.son
        a(href="tabpanel") TabPanel
      li.son
        a(href="template") Template
      li.son
        a(href="text") Text
      li.son
        a(href="textfield") TextField
      li.son
        a(href="timefield") TimeField
  div.column-1
    ul
      li.son
        a(href="tooltip") Tooltip
      li.son
        a(href="widget_bindings") Widget Bindings
      li.son
        a(href="validators") Validators
      li.son
        a(href="prefill_feature") Prefill Feature
      li.son
        a(href="autoselect_feature") Autoselect Feature
      li.dad
        a(href="the_html_widgets_library") The HTML Widgets Library
      li.son
        a(href="element") Element
      li.son
        a(href="textinput") TextInput
      li.dad
        a(href="creating_a_custom_widgets_library") Creating A Custom Widgets Library
      li.dad
        a(href="modules_layer_the_application_generator") Modules Layer - The Application Generator
      li.son
        a(href="controllers") Controllers
      li.son
        a(href="request_from_a_controller") Request from a controller
      li.son
        a(href="modules_filters") Modules Filters
      li.son
        a(href="flow_controllers") Flow Controllers
      li.son
        a(href="using_sub_controllers") Using Sub Controllers
      li.son
        a(href="logging_and_debugging") Logging and debugging
      li.son
        a(href="url_handling") URL handling
      li.son
        a(href="form_submissions") Form Submissions
      li.son
        a(href="initialization_sequence") Initialization Sequence