
a(id="menu", href="/usermanual/" + metadata.version + "/") Main Table of Contents
div.menu-container
  div.column-1
    ul
      li.dad
        a(href="introduction", rel="nofollow") Introduction
      li.son
        a(href="overview", rel="nofollow") Overview
      li.dad
        a(href="core_layer_a_javascript_framework", rel="nofollow") Core Layer - A Javascript Framework
      li.son
        a(href="the_aria_singleton", rel="nofollow") The Aria Singleton
      li.son
        a(href="javascript_classes", rel="nofollow") Javascript Classes
      li.son
        a(href="around_classes", rel="nofollow") Around Classes
      li.son
        a(href="working_in_an_asynchronous_world", rel="nofollow") Working in an Asynchronous World
      li.son
        a(href="helpers", rel="nofollow") Helpers
      li.son
        a(href="json_bean_definitions", rel="nofollow") JSON Bean Definitions
      li.son
        a(href="interceptors", rel="nofollow") Interceptors
      li.son
        a(href="filters", rel="nofollow") Filters
      li.dad
        a(href="templating_layer_a_template_engine", rel="nofollow") Templating Layer - A Template Engine
      li.son
        a(href="what_are_templates", rel="nofollow") What are Templates?
      li.son
        a(href="writing_templates", rel="nofollow") Writing Templates
      li.son
        a(href="data_model_and_data_binding", rel="nofollow") Data Model and Data Binding
      li.son
        a(href="template_scripts", rel="nofollow") Template Scripts
      li.son
        a(href="refresh", rel="nofollow") Refresh
      li.son
        a(href="widgets_overview", rel="nofollow") Widgets Overview
      li.son
        a(href="css_templates", rel="nofollow") CSS Templates
  div.column-1
    ul
      li.son
        a(href="template_inheritance", rel="nofollow") Template Inheritance
      li.son
        a(href="views", rel="nofollow") Views
      li.son
        a(href="macro_libraries", rel="nofollow") Macro Libraries
      li.son
        a(href="adaptive_display", rel="nofollow") Adaptive Display
      li.son
        a(href="interactions_with_the_dom", rel="nofollow") Interactions with the DOM
      li.son
        a(href="dom_events", rel="nofollow") DOM Events
      li.son
        a(href="keyboard_navigation", rel="nofollow") Keyboard Navigation
      li.son
        a(href="localization_and_resources", rel="nofollow") Localization and Resources
      li.dad
        a(href="widgets", rel="nofollow") Widgets
      li.dad
        a(href="the_aria_templates_widgets_collection", rel="nofollow") The Aria Templates Widgets Collection
      li.son
        a(href="autocomplete", rel="nofollow") AutoComplete
      li.son
        a(href="button", rel="nofollow") Button
      li.son
        a(href="calendar", rel="nofollow") Calendar
      li.son
        a(href="checkbox", rel="nofollow") CheckBox
      li.son
        a(href="datefield", rel="nofollow") DateField
      li.son
        a(href="datepicker", rel="nofollow") DatePicker
      li.son
        a(href="dialog", rel="nofollow") Dialog
      li.son
        a(href="div", rel="nofollow") Div
      li.son
        a(href="errorlist", rel="nofollow") ErrorList
  div.column-2
    ul
      li.son
        a(href="fieldset", rel="nofollow") Fieldset
      li.son
        a(href="gauge", rel="nofollow") Gauge
      li.son
        a(href="icon", rel="nofollow") Icon
      li.son
        a(href="iconbutton", rel="nofollow") IconButton
      li.son
        a(href="link", rel="nofollow") Link
      li.son
        a(href="list", rel="nofollow") List
      li.son
        a(href="multiselect", rel="nofollow") MultiSelect
      li.son
        a(href="numberfield", rel="nofollow") NumberField
      li.son
        a(href="passwordfield", rel="nofollow") PasswordField
      li.son
        a(href="radiobutton", rel="nofollow") RadioButton
      li.son
        a(href="select", rel="nofollow") Select
      li.son
        a(href="selectbox", rel="nofollow") SelectBox
      li.son
        a(href="sortindicator", rel="nofollow") SortIndicator
      li.son
        a(href="tab", rel="nofollow") Tab
      li.son
        a(href="tabpanel", rel="nofollow") TabPanel
      li.son
        a(href="template", rel="nofollow") Template
      li.son
        a(href="text", rel="nofollow") Text
      li.son
        a(href="textfield", rel="nofollow") TextField
      li.son
        a(href="timefield", rel="nofollow") TimeField
  div.column-1
    ul
      li.son
        a(href="tooltip", rel="nofollow") Tooltip
      li.son
        a(href="widget_bindings", rel="nofollow") Widget Bindings
      li.son
        a(href="validators", rel="nofollow") Validators
      li.son
        a(href="prefill_feature", rel="nofollow") Prefill Feature
      li.son
        a(href="autoselect_feature", rel="nofollow") Autoselect Feature
      li.dad
        a(href="the_html_widgets_library", rel="nofollow") The HTML Widgets Library
      li.son
        a(href="element", rel="nofollow") Element
      li.son
        a(href="textinput", rel="nofollow") TextInput
      li.dad
        a(href="creating_a_custom_widgets_library", rel="nofollow") Creating A Custom Widgets Library
      li.dad
        a(href="modules_layer_the_application_generator", rel="nofollow") Modules Layer - The Application Generator
      li.son
        a(href="controllers", rel="nofollow") Controllers
      li.son
        a(href="request_from_a_controller", rel="nofollow") Request from a controller
      li.son
        a(href="modules_filters", rel="nofollow") Modules Filters
      li.son
        a(href="flow_controllers", rel="nofollow") Flow Controllers
      li.son
        a(href="using_sub_controllers", rel="nofollow") Using Sub Controllers
      li.son
        a(href="logging_and_debugging", rel="nofollow") Logging and debugging
      li.son
        a(href="url_handling", rel="nofollow") URL handling
      li.son
        a(href="form_submissions", rel="nofollow") Form Submissions
      li.son
        a(href="initialization_sequence", rel="nofollow") Initialization Sequence