/* 	Aria Templates Mediawiki stylesheets
	All styles should be prefixed by '.mediawiki' which is being added
	automatically by the mediawiki skin itself on the body.
*/

/* Style for the TOC */
#toc {
	table-layout: fixed;
	width: 245px;
}

#toc ul {
	padding-left: 0;
 }

#toc ul li {
	list-style-type: none;
	padding-left: 15px;
}

#toctitle {
	padding-left: 15px;
}

#toctitle h2 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #888;
}

.tocnumber {
	color: #888;
	font-size: 90%;
}

.mediawiki dl {
	margin-left: 2em;
}

.mediawiki a.new {
	color: #BA0000;
}

pre {
	background-color: #F9F9F9;
    border: 1px dashed #CCCCCC;
	padding: 5px;
	margin: 8px;
	border-radius: 4px;
}

.snippet {
	margin-top: 25px;
}

.mediawiki section.content > .wrapper {
	padding-left: 0;
	padding-right: 0;
}

.mediawiki .printfooter {
    display: none;
}

.mediawiki .columns {
	border-left: 1px solid #dedede;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	border-radius: 0 0 8px 8px;
    margin-right: 2px;
	margin-left: 2px;
}

.mediawiki article.column {
	margin-right: 0 !important;

	border-right: 1px solid #dedede;

	padding: 0 20px 20px 20px;
	background-color: #fff;

	border-radius: 0 0 0 8px;
}

.mediawiki .one .column {
	float: none;
	width: auto;
	margin-right: -1px!important;
}

.mediawiki .columns aside.sidebar {
    background: transparent url(../images/bd-sidebar.png) left top no-repeat;
    float: right;
    left: -1px;
    padding-left: 19px;
    padding-top: 5px;
	padding-right: 20px;
    position: relative;
    width: 218px;
	margin: 0;
}

.mediawiki article .catlinks ul {
	overflow: hidden;
	padding-left: 0;
	margin-top: -5px;
}

.mediawiki article .catlinks ul li {
	list-style-type: none;
	float: left;
	display: block;
	padding-left: 24px;
	background: url(../images/wiki/tag_green.png) 5px center no-repeat;
	margin-right: 5px;
}

.doc ul li {
	list-style: none;
}


.mediawiki h1 {
	font-size: 40px;
}

.mediawiki h2, .mediawiki h3 {
	margin: 1em 0 6px;
}

.mediawiki h4 {
    margin: 20px 0 15px;
}

.mediawiki h2 .editsection, .mediawiki h3 .editsection,
	.mediawiki h4 .editsection, .mediawiki h5 .editsection,
	.mediawiki h6 .editsection {
	float: right;
	color: #BFD730;
	font-size: 13px;
	font-weight: normal;
}

.mediawiki h2 .editsection a, .mediawiki h3 .editsection a,
	.mediawiki h4 .editsection a, .mediawiki h5 .editsection a,
	.mediawiki h6 .editsection a {
	text-transform: none;
	color: inherit;
}

.mediawiki code a {
	color: #8CA122 !important;
}

.mediawiki code a:hover {
    color: #BFD730 !important;
	text-decoration: underline;
}

.mediawiki aside a, .mediawiki aside a:hover, .mediawiki aside a:visited {
	color:#5092BD;
}

/* Style for the login box */
.mediawiki .user {
	position: relative;	
	background: white;
	height: 25px;
}

.mediawiki .user h4 {
	margin: 0 0 3px 0;
	font-size: 12px;
}

.mediawiki .user h4 span {
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
}

.mediawiki .user ul {
	overflow: hidden;
	position: relative;
	top: -19px;
	float: right;
}

.mediawiki .user ul li {
	list-style-type: none;
	float: left;
}

.mediawiki .user ul li a {
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	background-position: left center;
	background-repeat: no-repeat;
}

.mediawiki .user ul li.perso a { background-image: url(../images/wiki/user_home.png) }
.mediawiki .user ul li.prefs { display: none }
.mediawiki .user ul li.prefs a { background-image: url(../images/wiki/paint.png) }
.mediawiki .user ul li.edit_create a { margin-left: 15px; background-image: url(../images/wiki/page_edit.png); }
.mediawiki .user ul li.delete a { background-image: url(../images/wiki/page_delete.png) }
.mediawiki .user ul li.move a { background-image: url(../images/wiki/page_copy.png) }

/* Style for the search button */
.searchbutton {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	width: 60px;
	font-size: 90%;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
	background-image: url(../images/fade.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	-webkit-transition: background-color .7s ease-in;
	-moz-transition: background-color .7s ease-in;
	height: 21px;
	cursor: pointer;
	padding:0;
	margin-left: 3px;
}

#search {
	width: 135px;
}

.mediawiki .stats {
	color: #888;
	font-size: 11px;
	margin-left: 20px;
	margin-top: -15px;
	text-align: right;
}

.mediawiki .mw-geshi {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

	position: relative;

	border-radius: 4px;
	border: 3px solid #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);

	margin-bottom: 10px;

	color: #f8f8f8;
}

.snippet h5 {
	color: #5092BD;
	margin-bottom: 0px;
	margin-top: -15px;
	margin-left: 10px;
}

.snippet h5 strong {
	color: #666666;
	text-transform: uppercase;
	padding-right: 10px;
}

.mediawiki .mw-geshi > div {
	border-radius: 4px;
	background-color: /*#2A211C*/#333;
	padding: 8px;
	overflow: auto;
}

.mediawiki .mw-geshi p {
    margin: inherit;
}

.mediawiki .with-header {
	margin-top: 40px;
}

.mediawiki article .callout {
	background-color: #E1EAF3;
    border-color: #D0DBE6 #C3CED9 #D0DBE6 #D0DBE6;
    border-style: solid;
    border-width: 1px;
    color: #4F535D;
    padding: 12px;
    position: absolute;
    right: 0;
    width: 242px;
	border-radius: 3px 0 0 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

	font-size: 12px;
}

.mediawiki article .callout h4 {
	margin: 0;
	text-align: center;
}
.mediawiki article .callout p {
	margin: 5px 0 0 0;
}

.mediawiki article .callout.didyouknow {
	background-color: #EFFAB4;
	border-color: #D1F2A5;
}

.mediawiki article .callout.reviewed,
	.mediawiki article .callout.reviewneeded,
	.mediawiki article .callout.draft {
	display: none;
	color: #fff;
	padding: 5px 5px 5px 35px;
	width: 105px;
	font-weight: 700;
	top: 72px;
	background-position: 10px center;
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
}

body.internal article .callout.reviewed,
	body.internal article .callout.reviewneeded,
	body.internal article .callout.draft {
	display: block;
}

.mediawiki article .callout.reviewed {
	background-color: #9BBB59;
	border-color: #728940;
	background-image: url(../images/wiki/tick.png);
}

.mediawiki article .callout.reviewneeded {
	background-color: #66B6E8;
	border-color: #5092BD;
	background-image: url(../images/wiki/thumb_up.png);
}

.mediawiki article .callout.draft {
	background-color: #E55454;
	border-color: #A33C3C;
	background-image: url(../images/wiki/exclamation.png);
}


/* Wrapper of the live SampleViewer module */
.mediawiki .two .live {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	margin: 40px 0 15px 0;
	border-radius: 4px 0 0 4px;
	border: 1px solid #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	min-height: 150px;
}


.mediawiki .wiki-search {
	/*border-bottom: 1px solid #DEDEDE;*/
	padding-bottom: 15px;
	position: relative;
	width: 203px;
}

/* Style for the navigation bar to come back to the main index */
.navigationbar {
	overflow: visible;
	font-size: 12px;
	margin: 15px 0;
	padding: 5px 0;
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;
}

.navigationbar .nav-previous {	
	padding-left: 20px;
	background: url(../blog/wp-content/themes/ariatemplates/images/post-previous.png) no-repeat left center;
}

.navigationbar .nav-next {	
	padding-right: 20px;
	background: url(../blog/wp-content/themes/ariatemplates/images/post-next.png) no-repeat right center;
}

.navigationbar .aligncenter {
	text-align: center;
	margin:0;
}

.navigationbar .alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}

.navigationbar .alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}


.mediawiki .errorbox strong {
	color: red;
}

.mediawiki .errorbox {
}

.mediawiki table tbody td {
	/*padding: 5px;*/
}

.mediawiki table tbody td.mw-label {
	width: 150px;
	text-align: right;
}


/* Internals mediawiki crap override */
.mediawiki  #editpage-copywarn {
	font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 160px;
    width: 240px;
}

.mediawiki .templatesUsed {
	position: absolute;
	right: 10px;
	top: 400px;
	width: 220px;
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
	font-size: 12px;
}

.mediawiki .templatesUsed .mw-templatesUsedExplanation p {
	margin: 0 0 5px;
	font-weight: 700;
}

/* Search Page */
.mediawiki .searchresults {
	margin: 20px 0;
}

.mediawiki .searchresults h2 {
	font-size: 16px;
	font-weight: 700;
	text-transform:uppercase;
	color:#888;
}

.mediawiki .searchresults .mw-search-results {
	padding-left: 0;
}

.mediawiki .mw-search-formheader div.results-info, .mediawiki .mw-search-formheader div.results-info ul li {
	float: none;
	overflow: hidden;
}

.mediawiki .search-types,
	.mediawiki .mw-search-createlink {
	display: none;
}

.mediawiki div.searchresult {
	width: auto;
}


/* Drop down TOC */

#dropdown {
	display: block;
	position: relative;
	width: 130px;
	margin: 0 auto;
}

.menu-container {
	width:945px;
	position:absolute;
	text-align:left;
	padding: 15px 5px 10px;
	display: none;
	background:#fff;
	z-index:99999;
	margin-left: -283px;
	-webkit-box-shadow: 0 4px 6px -6px black;
	-moz-box-shadow: 0 4px 6px -6px black;
	box-shadow: 0 4px 6px -6px black;
}

.menu-container ul {
	margin: 0;
	padding: 0;
}
.menu-container li {
	list-style-type:none;
}

@-webkit-keyframes fadeDiv {
	0% { opacity: 0; -webkit-animation-timing-function: linear; display:block; }
	100% { opacity: 1; -webkit-animation-timing-function: linear; display:block; }
}

@-moz-keyframes fadeDiv {
	0% { opacity: 0; -moz-animation-timing-function: linear; display:block; }
	100% { opacity: 1; -moz-animation-timing-function: linear; display:block; }
}

@-ms-keyframes fadeDiv {
	0% { opacity: 0; -ms-animation-timing-function: linear; display:block; }
	100% { opacity: 1; -ms-animation-timing-function: linear; display:block; }
}

#dropdown:hover .menu-container {	
	display: block;
	opacity: 1;
	-webkit-animation-duration:0.5s;
	-webkit-animation-name:fadeDiv;
	-moz-animation-duration:0.5s;
	-moz-animation-name:fadeDiv;
	-ms-animation-duration:0.5s;
	-ms-animation-name:fadeDiv;
}


/* columns ici */

.column-1, .column-2 {
	display:inline;
	float:left;
	position:relative;
}

.column-1 li:hover,.column-2 li:hover {
	background:#e8edff;
}

.column-1 li a:hover,.column-2 li a:hover {
	text-decoration:none;
	cursor:pointer;
}

.column-1 {
	width:225px;
	padding-left: 17px;
	padding-right: 26px;
}

.column-2 {
	width:140px;
	padding: 0px;
}

.dad {
	font-weight: bold;
}

.son {
	padding-left: 15px;
}