include ../common_layout

mixin doctype
html(lang='en', dir='ltr', class='client-js')

  mixin head

  body.mediawiki.documentation

    mixin header

    mixin scrolling

    div.content-wrapper

      mixin goToTop

      section.content
        div.wrapper
          div.columns.two.title
            article.column
              if metadata && metadata.title
                h1 #{metadata.title}
              if metadata && metadata.author
                span.cite by
                  -var authors = metadata.author.split(",")
                  -var urls = metadata.url.split(",")
                  -for (var a = 0; a < authors.length; a++)
                    a(href='#{urls[a]}') #{authors[a]}
                    if (a != authors.length - 1)
                      ,
              if metadata && !metadata.nonavbar
                nav.navigationbar
                  div#dropdown.aligncenter.nav-main
                    include navigationbar.jade

                div.doc
                  != content
                nav.navigationbar
                  div.aligncenter.nav-main
                    include navigationbar.jade
              else
                div.doc
                  != content

            aside.column.sidebar
              include versionList.jade
              mixin search

              if toc && metadata && !metadata.notoc
                div#tableOfContent
                  h4 Contents
                  div.toc
                    mixin toc

    mixin footer
