div#tableOfContent
  h4 Contents
  table#toc.toc
    tbody
      tr
        td
          ul
            li.toclevel-1.tocsection-1
              a(href="#Formatting_patterns")
                span.tocnumber 1
                span.toctext Formatting patterns
              ul
                li.toclevel-2.tocsection-2
                  a(href="#Default_patterns")
                    span.tocnumber 1.1
                    span.toctext Default patterns
            li.toclevel-1.tocsection-3
              a(href="#Sample_usage")
                span.tocnumber 2
                span.toctext Sample usage