h4 Document Version
div.styled-select
  select
    option(selected="selected", value="#") latest (1.2.1)
    option(value="#") 1.2.0
    option(value="#") 1.1.31
    option(value="#") 1.1.30
    option(value="#") 1.1.29
    option(value="#") 1.1.28