mixin version(version, latest)
    -latest = latest || false
    -var label = version
    -var value = version
    if latest
        -label = "latest (" + version + ")"
        -version = "latest"
    if label.indexOf(metadata.version) != -1
        option(selected, value=version) #{label}
    else
        option(value=version) #{label}

h4 Documentation Version
div.styled-select
  select(onchange='document.location = "/usermanual/" + this.options[this.selectedIndex].value + "/"')
    mixin version("1.7.4", true) //-LATEST_RELEASE_HERE
    mixin version("1.7.4")
    mixin version("1.7.3")
    mixin version("1.7.2")
    mixin version("1.7.1")
    mixin version("1.6.9")
    mixin version("1.6.8")
    mixin version("1.6.7")
    mixin version("1.6.6")
    mixin version("1.6.5")
    mixin version("1.6.4")
    mixin version("1.6.3")
    mixin version("1.6.2")
    mixin version("1.6.1")
    mixin version("1.5.4")
    mixin version("1.5.3")
    mixin version("1.5.2")
    mixin version("1.5.1")
    mixin version("1.4.17")
    mixin version("1.4.16")
    mixin version("1.4.15")
    mixin version("1.4.14")
    mixin version("1.4.13")
    mixin version("1.4.12")
    mixin version("1.4.11")
    mixin version("1.4.10")
    mixin version("1.4.9")
    mixin version("1.4.8")
    mixin version("1.4.7")
    mixin version("1.4.6")
    mixin version("1.4.5")
    mixin version("1.4.4")
    mixin version("1.4.3")
    mixin version("1.4.2")
    mixin version("1.4.1")
    mixin version("1.3.7")
    mixin version("1.3.6")
    mixin version("1.3.5")
    mixin version("1.3.4")
